html {
    background-color: black;
    background-image: url("ozaibg.jpeg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100vw 100vh;
}

#lordozai {
    position: fixed;
    z-index: 1;
    background-image: url("lordozai.png");
    background-repeat: no-repeat;
    background-size: 50vh;
    background-position: 90% 220%;
    width: 100%;
    height: 100%;
    filter: drop-shadow(1px 1px 20px black);
}

#board {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 80%;
    background-color: rgba(255, 213, 135, 0.6);
    padding: 30px;
    border: 3px solid black;
}

.flame {
    position: fixed;
    background-image: url("fire.gif");
    background-repeat: no-repeat;
    background-size: 300px 400px;
    width: 300px;
    height: 400px;
    bottom: 0;
    right: 5%;
}

#home {
    position: fixed;
    z-index: 1;
    background-image: url("home-button.png");
    background-repeat: no-repeat;
    background-size: 75px 75px;
    width: 75px;
    height: 75px;
    top: 10%;
    right: 11.5%;
    filter: drop-shadow(1px 1px 40px black);
    opacity: 0.9;
}

#home:hover {
    filter: drop-shadow(1px 1px 10px white);
}

#game {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}