<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Nation Royal Palace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
</head>
<body>
    <!-- <h1 class="title">Fire Nation Royal Palace</h1> -->
    <div class="container">
    <div class="portrait">
        <a id="ozai" href="/ozai"></a>
        <a id="zuko" href="/zuko"></a>
        <a id="iroh" href="/iroh"></a>
    </div>
    </div>
    <div class="fire"></div>
    <div class="fire2"></div>
    <div class="fire3"></div>
    <div class="fire4"></div>
</body>
</html>