<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Nation Royal Palace</title>
    <link rel="stylesheet" href="{{ font_url }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='welcome.css')}}">
</head>
<body>
    <!-- <h1 class="title">Fire Nation Royal Palace</h1> -->
    <div class="black">
        <h1>Welcome to the Fire Nation</h1>
        <div class="head"></div>
        <a id="enter" href="/palace"><h2>Click to Enter the Royal Palace</h2></a>
        <!-- <button type="button" id="enter">Click to Enter the Royal Palace</button> -->
    </div>
</body>
</html>